@charset "UTF-8";

body, html{
    background-image: linear-gradient(to top, rgb(183, 0, 255), rgb(22, 178, 206), rgb(92, 100, 221) );
}
section#login{
    width: 950px;
}
div#imagem{
    float: left;
    width: 50%;
    height: 100%;
}
div#formulario{
    float: right;
    width: 50%;
    
}