@charset "UTF-8";

body, html{
    background-image: linear-gradient(to top, rgb(183, 0, 255), rgb(22, 178, 206), rgb(92, 100, 221) );
}
section#login{
    width: 90vw;
    height: 78vh;
}
div#imagem{
    float: left;
    width: 50%;
    height: 100%;
}
div#formulario{
    float: right;
    width: 50%;
    
}
div#formulario > h1{
    font-size: 1.5em;
    padding: 5px;
}
div#formulario > p{
    font-size: 1.1em;
}
div.campo{

    font-size: 1.1em;
}
div.campo > input#ilogin{
    margin-top: 20px;
}
input#ilogin{
    padding: 2px;
    width: 200px;
}
input#isenha{
    padding: 2px;
    width: 200px;
}
form{
    text-align: center;
}
form > input{
    margin-top: 10px;
}
form > input#enviar{
    width: 90px;
}
form > input#limpar{
    width: 90px;
    margin-right: 44px;
}
form > a{
    
    text-align: center;
    font-size: 1em;
}