@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-color: rgb(85, 14, 151);
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 255px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    transition: width 0.2s, heith 0.2s;
}
div#imagem{
    display: block;
    background: url(../imagens/pexels-josh-klassen-11407597.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
div#formulario{
    display: block;
    padding: 10px;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 5px;
}
div#formulario > p{
    font-size: 1em;
}
div.campo{
    margin: 0px;
    background-color: rgb(59, 19, 97);
    border-radius: 20px;
    margin-bottom: 3px;
    width: 47vw;
    height: 6.2vh;
}
label{
    background-color: red;
}
div.campo > i{
    color: white;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 5px;
}
div.campo > input{
    box-sizing: border-box;
    background-color: rgb(22, 178, 206);
    
    border-radius: 20px;
    
    text-align: center;
    font-size: 1em;
}
div.campo > input#ilogin{
    width: 39vw;
    height: 5.8vh;
    transform: translate(0px, -5px);
}
div.campo > input#isenha{
    width: 39vw;
    height: 5.8vh;
    transform: translate(0px, -5px);
}
div.campo > input:hover{
    background-color: white;
    color: blue;
    font-weight: bolder;
}
form > input{
    margin-top: 7px;
    padding: 2px;
    width: 100px;
    margin-bottom: 20px;
    background-color: rgb(14, 7, 75);
    color: white;
}
form > input#enviar{
    margin-left:16px;
}

form > input:hover{
    background-color: rgb(183, 0, 255);
}

form > a{
    display: block;
    background-color: gray;
    border-radius: 8px;
    color: white;  
    padding-bottom: 5px;  
    transform: translateY(-10px);
}
a{
    text-align: center;
}
form > a:hover{
    background-color: lightgray;
    color: rgb(71, 44, 221);
}
