@charset "UTF-8";
body{
    background-image: linear-gradient(to top, rgb(183, 0, 255), rgb(22, 178, 206), rgb(92, 100, 221) );
}
div#formulario > h1{
    font-size: 1.5em;
    padding: 5px;
}
div#formulario > p{
    font-size: 1.1em;
}
section#login{
    width: 80vw;
    height: 75vh;
}
div.campo{
    padding: 0px;
    font-size: 1em;
    width: 53vw;
    height: 39px;
}
div.campo > input#ilogin{
    width: 47vw;
    transform: translate(0px, -5px);
}
div.campo > input#isenha{
    width: 47vw;
    transform: translate(0px, -5px);
}
input#ilogin{
    padding: 3px;
    width: 300px;
}
input#isenha{
    padding: 3px;
    width: 300px;
}

div#imagem{
    float: left;
    width: 30%;
    height: 100%;
}
div#formulario{
    float: right;
    width: 70%;
}
form{
    text-align: center;
}
form > input#enviar{
    margin-left: 20px;
    width: 90px;
}
form > input{
    margin-top: 5px;
    margin-bottom: 0px;
}
form > input#limpar{
    width: 90px;
    margin-right: 40px;
}
form > a{
    font-size: 1em;
    margin-top: 20px;

}

